<div class="row resumeInfo">
    <div class="col-lg-6">
      <img
        src="../img/tom_brady2.png"
        alt="Tom Brady Profile Image"
        class="playerImg"
      />
    </div>
    <div class="col-lg-6">
      <h2 class="text-right font-weight-bold"><%= player.Name %></h2>
      <h6 class="text-right"><%= player.Team %></h6>
      <h2 class="text-right"><%= player.Seasons[0].FantasyPoints %> pts</h2>
      <h6 class="text-right"><%= player.Seasons[0].Season %> season</h6>
    </div>
  </div>
  <div class="card">
    <span id="number">12</span>
    <div class="row resumeInfo2">
      <div class="col-lg-6">
        <p>Played</p>
        <strong><%= player.Seasons[0].Played %></strong>
      </div>
      <div class="col-lg-6">
        <p>Position</p>
        <strong><%= player.Position %></strong>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 starStats">
      <img
        src="../img/star_plot.png"
        alt="Star Plot Statistics"
        class="starPlot"
      />
    </div>
    <div class="col-md-4 infoExtra">
      <p>CMP</p>
      <hr />
      <h4><%= player.Seasons[0].PassingCompletions %></h4>
      <p>PASS YDS</p>
      <hr />
      <h4><%= player.Seasons[0].PassingYards %></h4>
      <p>INT</p>
      <hr />
      <h4><%= player.Seasons[0].Interceptions %></h4>
      <p>PTS</p>
      <hr />
      <h4><%= player.Seasons[0].FantasyPoints %> pts</h4>
    </div>
  </div>
  <div class="row justify-content-end">
    <a href="#" class="text-right">See details</a>
  </div>